<ion-header>

  <ion-navbar primary>
    <ion-title>រាប់ពិន្ទុ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-card-header>
      {{store?.name}} - {{store?.STORE_TYPE.name}}
    </ion-card-header>
    <!-- <img src="{{imageUrl}}" *ngIf="imageUrl" (click)="getPicture()"> -->
    <img src="{{pathForImage(imageUrl)}}" *ngIf="imageUrl" (click)="getPicture()">
    <div padding class="flex-container" *ngIf="imageUrl == null">
      <button color="light" class="flex-center" ion-button icon-start round padding icon-only (click)="getPicture()">
       <ion-icon name="camera"></ion-icon>
     </button>
   </div>

 </ion-card>



 <ion-item-group *ngFor="let dt of displayTypesArr;">
  <ion-item-divider color="primary">
    {{dt.name}}
  </ion-item-divider>

  <ion-card *ngFor="let store of dt.storeDisplays">
    <ion-item>
      {{store?.displayName}}
      <button item-end ion-button small round icon-only color="danger" (click)="remove(dt, store)">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-item>
    <img src="{{pathForImage(store?.imageUrl)}}" (click)="showDisplayModal(store)">
    <!-- <img src="{{store?.imageUrl}}" (click)="showDisplayModal(store, dt)"> -->
    <ion-item>
      <div padding class="flex-container">
        <h1 class="points" color="flex-center">{{store?.points}} ពិន្ទុ</h1>
      </div>
      <div padding class="flex-container">
        <h2 class="points" color="flex-center">{{store?.conditionName}}</h2>
      </div>
    </ion-item>

  </ion-card>

  <!-- <div padding class="flex-container"> -->
    <div padding>
      <button color="light" ion-button round icon-left full (click)="showActionSheet(dt)">
        <ion-icon name="md-add"></ion-icon>{{dt.name}}
      </button>
    </div>
  <!-- </div> -->
</ion-item-group>


<div padding>
<!--   <p>{{tp}}</p>
   <p>{{url}}</p>
   <p>{{op}}</p> -->
  <button ion-button round padding block (click)="save()">បញ្ជូន</button>
</div>
</ion-content>
<input type="file" #imgFile style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
