<!--
  Generated template for the StoreDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{store?.STORE_TYPE?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>

     <div padding class="flex-container">
      <h1 class="points" color="flex-center">{{store?.name}}</h1>
    </div>
  </ion-card-header>

  <ion-card-content>
    <ion-list no-lines>
     <ion-item>
      សន្សំ
      <span item-end>
        {{storeEarned?.total_earned}} ពិន្ទុ
      </span>
    </ion-item>
    <ion-item>
      ប្តូររង្វាន់
      <span item-end>
        {{storeSpent?.total_spent}} ពិន្ទុ
      </span>
    </ion-item>
    <ion-item>
      នៅសល់
      <span item-end>
        {{storeRemaining?.total_remaining}} ពិន្ទុ
      </span>
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>
<ion-list>
  <button ion-item (click)="pointDetail()" *ngFor="let sp of storePoints">
    {{sp?.total_points}} ពិន្ទុ
    <ion-note item-end>{{sp?.STORE_IMAGE?.capturedAt | date:'short'}}</ion-note>
  </button>
 <!-- <button ion-item color="{{sp.edit ? '' : 'light'}}" (click)="pointDetail()" *ngFor="let sp of storePoints">
  {{sp?.total_points}} ពិន្ទុ
  <ion-note item-end>{{sp?.STORE_IMAGE?.capturedAt | date:'short'}}</ion-note>
</button> -->
</ion-list>
</ion-content>
