<style>

</style>
<ion-header>
  <ion-navbar>
    <ion-title>
      ថតរូប ដាក់ពិន្ទុ
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      {{display?.name}} - SKU {{display?.sku}}
    </ion-item>
    <img src="{{pathForImage(display?.imageUrl)}}" (click)="getPicture()">
    <img src="{{display?.imageUrl}}" (click)="getPicture()">
    <ion-item>
      <div padding class="flex-container">
        <h1 class="points" color="flex-center">{{display?.points}} ពិន្ទុ</h1>
      </div>
    </ion-item>
    <ion-item>
      <ion-range min="0" step="100" max="{{maxPoint}}" snaps="true" [(ngModel)]="display.points">
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>លក្ខណ្ឌ</ion-label>
        <ion-select [(ngModel)]="display.condition">
          <ion-option *ngFor="let condition of conditionList" [value]="condition">{{condition.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <div padding class="flex-container">
      <button color="light" class="flex-center" ion-button icon-start round padding icon-only (click)="getPicture()">
       <ion-icon name="camera"></ion-icon>
     </button>
   </div>

   <div padding>
    <button ion-button icon-start round padding block (click)="save()">
     <ion-icon name="save"></ion-icon> បញ្ជូន
   </button>
 </div>
 <ion-item *ngFor="let s of allDisplays">
    <h2>id {{s.id}}</h2>
    <h2>name {{s.name}}</h2>
    <h2>points {{s.points}}</h2>
    <h2>imageUrl {{s.imageUrl}}</h2>
    <h2>status {{s.status}}</h2>
    <h2>sku {{s.sku}}</h2>
    <h2>displayTypeIdDisplays {{s.displayTypeIdDisplays}}</h2>
    <h2>storeTypeIdDisplays {{s.storeTypeIdDisplays}}</h2>
  </ion-item>

<input type="file" #imgFile style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
</ion-content>
