<ion-header>
  <ion-navbar>
    <ion-title>
      Take Photo
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-card>
    <ion-item>
      ឈុតចាំបាច់សំរាប់តាំង
    </ion-item>
    <!-- <input type="file" #imgFile style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" /> -->
    <img src="{{imgSrc}}" (click)="getPicture()">
    <div padding class="flex-container">
      <h1 class="points" color="flex-center">{{points}}</h1>
    </div>
    <ion-item>
      <ion-range min="0" step="10" snaps="true" [(ngModel)]="points">
        <ion-label range-left class="small-text">0</ion-label>
        <ion-label range-right>1800</ion-label>
      </ion-range>
    </ion-item>
  </ion-card>

  <div padding>
    <button ion-button round padding block (click)="save()">បញ្ជូន</button>
  </div>

</ion-content>
